{% extends 'front/Patient/base_patient.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
    <h1>Paiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DatePaiement</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paiement.montant }}</td>
                <td>
                    <a href="{{ path('app_patient_paiement_show', {'id': paiement.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patient_paiement_new') }}">Create new</a>
{% endblock %}