{# templates/pagination/bootstrap_v5_pagination_fr.html.twig #}
{% if pageCount > 1 %}
    <nav>
        <ul class="pagination">
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" rel="prev">
                        <span aria-hidden="true">&laquo;</span> Précédent
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">
                        <span aria-hidden="true">&laquo;</span> Précédent
                    </span>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" rel="next">
                        Suivant <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">
                        Suivant <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}