{% extends 'base.html.twig' %}

{% block title %}Departement{% endblock %}

{% block body %}
    {# Titre de la page #}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Détails du département</h1>
        <a href="{{ path('app_departement_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
            <i class="fas fa-arrow-left fa-sm text-white-50"></i> Retour la liste
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informations : {{ departement.nom }}</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 30%;">ID</th>
                        <td>{{ departement.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td class="font-weight-bold text-dark">{{ departement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td><span class="badge badge-info">{{ departement.code }}</span></td>
                    </tr>
                </tbody>
            </table>

            <hr class="sidebar-divider my-4">

            <div class="d-flex align-items-center">
                <a href="{{ path('app_departement_edit', {'id': departement.id}) }}" class="btn btn-warning btn-sm btn-icon-split shadow-sm mr-2">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="text">Modifier</span>
                </a>

                <div class="d-inline-block">
                    {{ include('departement/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
