{% extends 'base.html.twig' %}

{% block title %}Consultations Médecin{% endblock %}

{% block body %}
<h1>Consultations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rdv_id</th> {# <-- ajout de Rdv_id #}
            <th>Date</th>
            <th>Statut</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for consultation in consultations %}
        <tr>
            <td>{{ consultation.id }}</td>
            <td>{{ consultation.rdvId }}</td> {# <-- affichage de Rdv_id #}
            <td>{{ consultation.dateEffectuee ? consultation.dateEffectuee|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ consultation.statut }}</td>
            <td>{{ consultation.notesPrivees }}</td>
            <td>
                <a href="{{ path('medecin_consultation_show', {'id': consultation.id}) }}">show</a>
                <a href="{{ path('medecin_consultation_edit', {'id': consultation.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6">No records found</td></tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('medecin_consultation_new') }}">Create new</a>
{% endblock %}
