{% extends 'base.html.twig' %}

{% block title %}Détails Consultation{% endblock %}

{% block body %}
<h1>Détails de la consultation</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ consultation.id }}</td>
        </tr>
        <tr>
            <th>Date effectuée</th>
            <td>{{ consultation.dateEffectuee ? consultation.dateEffectuee|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ consultation.statut }}</td>
        </tr>
        <tr>
            <th>Notes privées</th>
            <td>{{ consultation.notesPrivees }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('medecin_consultation_edit', {'id': consultation.id}) }}">Modifier</a>

<a href="{{ path('medecin_consultation_index') }}">Retour à la liste</a>
{% endblock %}
