<div class="modal-header">
    <h5 class="modal-title">Modifier le dossier de {{ profil.nom }} {{ profil.prenom }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    {{ form_start(form, {
        'attr': {'id': 'editForm', 'novalidate': 'novalidate'},
        'action': path('admin_dossier_clinique_edit', {'id': profil.id}),
        'method': 'POST'
    }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}
</div>
